# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.pyo
*.pyc

# Django
*.log
*.pot
*.py[cod]
instance/
db.sqlite3
media/
staticfiles/

# Virtual environment
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# IDEs and Editors
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Coverage reports
.coverage
*.coveragerc

# Test output
nosetests.xml
coverage.xml
*.hypothesis/

# Local configuration files
*.env
*.env.*

# PyCharm
.idea/

# mypy
.mypy_cache/
.dmypy.json
